.fade-out-at-end {
	animation: fade-out-at-end 1s ease-in both;
}

 @keyframes fade-out-at-end {
    0% {
		opacity: 1;
		color: rgb(204, 255, 204);
	}
    5% {
		opacity: 1;
		color: rgb(121, 194, 121);
	}
	30% {
		color: limegreen;
	}
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
		color: darkgreen;
    }
}

body {
    color: limegreen;
    font-family: 'Lucida Console', 'system-ui', 'Segoe UI';
}

.fullScreenBG {
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}