.scale-up-and-fade-out {
	animation: scale-up-and-fade-out 1.5s ease-out both;
}

 @keyframes scale-up-and-fade-out {
    0% {
        scale: 0;
    }
    90% {
      opacity: 1;
  }
    100% {
        opacity: 0;
        scale: 1;
    }
}

.wobble {
	animation: wobble 0.8s ease-out infinite both;
}


 @keyframes wobble {
    0%,
    100% {
      transform-origin: 50% 50%;
    }
    15% {
      transform: rotate(-6deg);
    }
    30% {
      transform: rotate(6deg);
    }
    45% {
      transform: rotate(-3.6deg);
    }
    60% {
      transform: rotate(2.4deg);
    }
    75% {
      transform: rotate(-1.2deg);
    }
  }